<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/index.html">Home</a></li>
		        	<li><a href="/about.html">About</a></li>
				<li><a href="/parallax.html">Parallax</a></li>
				<li><a href="/blog/index.html">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>{% include link.html "mailto:carteret@mail.gvsu.edu" eMail %}</li>
	        		<li><a href="https://github.com/SamuraiYamma">github.com/SamuraiYamma</a></li>
				</ul>
			</footer>
		</body>
	</html>
